      
<!-- <div>
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of apiData">
                <td>{{u.userName}} </td>
                <td>{{u.password}} </td>
            </tr>
        </tbody>
    </table>
</div> -->

<form #loginForm="ngForm">

    <label for="email">Enter Email</label>
    <input type="email" ngModel name="email" #email="ngModel" email required>
    <small *ngIf="email.errors?.required">Mandatory email</small>
    <small *ngIf="email.errors?.email">invalid email</small>
    <br>
    <label for="password">Enter PAssword</label>
    <input type="password" ngModel name="password" #password="ngModel"><br><br>

    <button (click)="saveData(loginForm)">Login</button>
</form>

<!-- <form [formGroup]="loginForm" >

    <label for="email">Enter Email</label>
    <input type="email" formControlName="email"><br>
    <label for="password"> Enter Password</label>
    <input type="password" formControlName="password">

    <button type="submit" (click)="saveData()">Login</button>
</form> -->

<div class="box" id="box1"></div>
<div class="box" id="box2"></div>
<div class="box" id="box3"></div>
<div class="box" id="box4"></div>
<div class="box" id="box5"></div>
