.divDesign{
    text-align: center;
    border: 1px solid;
}

.box{
    border: 1px dotted white;
    height: 100px;
    width: 100px;
    top: 30px;
    left: 30px;
}

#box1{
    position: relative;
    background-color: red;
    z-index: 60px;
    /* display: none; */
    /* display none means it can hide the element as well as its space; */
}
#box2{
    position: relative;
    background-color: blue;
    z-index: -20px;
    /* visibility: hidden; */
    /* visibility hidden means it hide the element but reserve its space or show its space; */
}
#box3{
    background-color: yellow;
}
#box4{
    background-color: green;
}
#box5{
    background-color: brown;
}