.divDesign{
    border: solid 1px gray;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    margin-right: 400px;
    margin-left: 400px;
    padding: 20px;
    /* background-color: plum; */
}

table{
    margin:0px 150px 0px 150px;
}
td{
    padding: 10px;
}