<!-- The content below is only a placeholder and can be replaced.-->
<!-- json-server --watch ./src/app/data.json -->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}! 
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <button RouterLink="login" >Login</button> -->
<!-- <button>Users</button> -->
<!-- <app-login></app-login> -->
<!-- <app-subjectexpample></app-subjectexpample> -->

<!-- <router-outlet></router-outlet> -->

<header>
  <nav class="navbar bg-dark" data-bs-theme="dark" class="nav justify-content-center">
      <ul class="nav nav-tabs">
          <li class="nav-item"><a routerLinkActive="active" routerLink="home" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLinkActive="active" routerLink="comp1" class="nav-link">Comp1</a></li>
          <li class="nav-item"><a routerLinkActive="active" routerLink="comp2" class="nav-link">Comp2</a></li>
          <li class="nav-item"><a routerLinkActive="active" routerLink="comp3" class="nav-link">Comp3</a></li>
          <li class="nav-item"><a routerLinkActive="active" routerLink="comp4" class="nav-link">Comp4</a><li>
          <li class="nav-item"><a routerLinlActive="active" routerLink="login" class="nav-link">Login</a></li>
          <li class="nav-item"><a routerLinkActive="active" routerLink="users" class="nav-link">Users</a></li>
          <li class="nav-item"><a routerLinkActive="active" routerLink="firebase" class="nav-link">Firebase Data</a></li>
          <li class="nav-item"><a routerLinkActive="active" routerLink="parent" class="nav-link">Parent</a></li>
          <!-- <li class="nav-item"><a routerLinkActive="active" routerLink="child" class="nav-link">Child</a></li> -->
      </ul>
  </nav>
</header>

<router-outlet></router-outlet>
